BasedOnStyle: LLVM
AccessModifierOffset: -2
AlignAfterOpenBracket: BlockIndent
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
ColumnLimit: 92
EmptyLineBeforeAccessModifier: Always
NamespaceIndentation: Inner
PackConstructorInitializers: CurrentLine
SpaceBeforeCpp11BracedList: true
